body {
	background-image: url(https://miro.medium.com/max/2560/1*OsqTAlJOlpFMFVi1qU1mog.jpeg);
	background-position: ;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 150%;
}
h1 {
	color: blue;
}
html {
	background: gray;
}