@media (max-width: 100px
	min-height: 350px){
	
}
body {
	background-image: url(https://miro.medium.com/max/2560/1*OsqTAlJOlpFMFVi1qU1mog.jpeg);
	background-position: fixed;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: gray;
	margin: 50px;
	padding: 0px;
	position: center;

}
#title {
	background-color: lightgray;
	opacity: 0.9;
	color: black;
	text-align: center;
	width: 100%
	margin: auto;
	font-size: 24px;

}
.container {
	background-color: lightgray;
		opacity: 0.9;
		width: 100%
		margin: auto;
}
h2 {
	font-size: 22px;
	margin: 10px;
}
p {
	color: #000;
	font-weight: bold;
	font-size: 20px;
	margin: 10px;
}
div {
	color: #000;
	font-weight: 200;
	font-size: 20px;
	margin: 30px;
}
input {
	display: inline-block;
	padding: 5px 20px;
	width: auto;
	text-align: left;
}
select {
	display: inline-block;
	padding: 5px 20px;
	text-align: left;
}
#dropdown {
	display: block;
}
textarea {
  min-height: 100px;
  width: 100%;
  padding: 0.5rem;
  resize: vertical;
}
button {
	display: block;
  width: 100%;
  padding: 0.65rem;
  background-color: blue;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  font-size: 25px;
  text-decoration: bold;
}
textarea::placeholder {
	text-align: left;
	font-size: 20px;
}